:root {
  --dark-bg: #000000;
  --dark-text: #E3F2FD;
  --dark-header: #c1abeb;

  --dark-primary: #9d00ab;

  --dark-ps1: #7e0089;
  --dark-pt1: #b133bc;
  --dark-ps2: #5e0067;
  --dark-pt2: #c466cd;
  --dark-ps3: #3f0044;
  --dark-pt3: #d899dd;
  --dark-pd: #1f0022;
  --dark-pl: #ebccee;
}
