:root {
  color-scheme: dark;

  --dark-bg: #121212;
  --dark-text: #E3F2FD;
  --dark-header: #E8E8E8;

  --dark-primary: #9d00ab;

  --dark-ps1: #7e0089;
  --dark-pt1: #b133bc;
  --dark-ps2: #5e0067;
  --dark-pt2: #c466cd;
  --pdark-s3: #3f0044;
  --dark-pt3: #d899dd;
  --dark-pd: #1f0022;
  --dark-pl: #ebccee;
}
