:root {
  --light-bg: #ffffff;
  --light-text: #000000;
  --light-header: #000000;

  --light-primary: #839bf3;

  --light-ps1: #697cc2;
  --light-pt1: #9caff5;
  --light-ps2: #4f5d92;
  --light-pt2: #b5c3f8;
  --light-ps3: #343e61;
  --light-pt3: #cdd7fa;
  --light-pd: #1a1f31;
  --light-pl: #e6ebfd;
}
