<header role="banner">
  <div class="block banner-margin">

    <h1 class="flex center-justified">
      <span class="banner-title">{{ site.title | lowcase }}</span>
    </h1>

    <div class="flex center-justified">
      <nav>

        <ol class="social-list flex row nowrap center-items">
          <span class="separator" aria-hidden="true"></span>

            <li class="li-info">
              <span id="mask">email</span>
              <span id="info">{{ site.email_print }}</span>
            </li>

          <span class="separator" aria-hidden="true"></span>

            <li class="li-info">
              <span id="mask">github</span>
              <span id="info">@{{ site.github_username }}</span>
            </li>

          <span class="separator" aria-hidden="true"></span>

            <li class="li-info">
              <span id="mask">linkedin</span>
              <span id="info">@{{ site.linkedin_username }}</span>
            </li>

          <span class="separator" aria-hidden="true"></span>
        </ol>

      </nav>
    </div>

    <div class="podium">
      <div class="highlight">
        <div class="cover"></div>
      </div>
      <div class="highlight-blur">
        <div class="cover"></div>
      </div>
    </div>

  </div>
</header>
