<header class="site-banner" role="banner">
  <!-- <a class="site-title" rel="author" href="{{ "/" relative_url }}">{{ site.title | escape | lowcase }}</a> -->

  <div class="topbar-container item-centered content-centered">

    <h1 class="topbar-content content-centered item-centered">
      <span class="site-title">{{ site.title | lowcase }}</span>
    </h1>

    <div class="podium">
      <div class="highlight">
        <div class="cover"></div>
      </div>
      <div class="highlight-blur">
        <div class="cover"></div>
      </div>
    </div>

  </div>

</header>
