@use '../base/mixin' as mx;

[id="bg-graphic"] {
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
}

.home {
  display: grid;
  height: 100%;
  width: 100%;

  grid-template-rows: 1.3fr auto 1fr;
  grid-template-columns: .5fr 1fr .8fr;
  
  grid-template-areas:
  "title greet posts"
  "title greet posts"
  "proj proj proj";

  gap: 1em;

  [id^="grid-"] {
    border-radius: .5rem;
  }
}

[id="grid-title"] {
  grid-area: title;
  justify-self: right;
  margin-right: 2em;
  align-self: center;
  
  header {
    font-size: clamp(1rem, 10vw, 8rem);
    text-transform: uppercase;
    font-weight: 1000;
    text-box-edge: cap alphabetic;

    div {
      display: flex;
      padding: .1em;
    }

    span {
      text-box-trim: trim-both;
      transform: scale(1.1);
    }
  }
}

[id="social-media"] {
  grid-area: sm;
}

[id="grid-greet"] {
  grid-area: greet;
}

[id="grid-posts"] {
  position: relative;
  grid-area: posts;
  min-height: 0;
  overflow-y: auto;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

[id="grid-projects"] {
  position: relative;
  grid-area: proj;
  min-width: 0;
  margin-bottom: 2rem;
  scrollbar-width: none;
  align-content: center;
  justify-items: center;

  ::-webkit-scrollbar {
    display: none;
  }
}
