@use '../base/mixin' as mx;

.home {
  display: grid;
  height: 100%;
  width: 100%;

  grid-template-rows: 0.5fr 1fr 1.3fr;
  grid-template-columns: 1fr 1fr 1fr;
  
  grid-template-areas:
  "posts greet greet"
  "posts sm sm"
  "proj proj proj";

  gap: 1em;

  [id^="grid-"] {
    border-radius: .5rem;
  }
}

[id="social-media"] {
  grid-area: sm;
}

[id="grid-greet"] {
  grid-area: greet;
}

[id="grid-posts"] {
  grid-area: posts;
  min-height: 0;
  background-color: black;
  overflow-y: auto;
  justify-content: center;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }

}

[id="grid-projects"] {
  grid-area: proj;
  margin-bottom: 2rem;
}
