.home-container {
  justify-content: center;
  overflow: visible;
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column nowrap;
  margin-top: clamp(.1rem, .5vw + .25rem, 3rem);
}

.site-title {
  user-select: none;
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  justify-content: center;
  color: var(--important-text);
  text-transform: uppercase;
  font-weight: 1000;
  gap: 1rem;
  animation: 5s infinite alternate glow;
  mix-blend-mode: var(--blend-mode);
  anchor-name: --title-anchor;

  span {
    font-size: clamp(8rem, 15vw + .25rem, 15rem) !important;
    line-height: 62%;
  }
}

[id="title-graphic"] {
  position: absolute;
  position-anchor: --title-anchor;
  position-area: center;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  background-color: transparent;
  height: 100%;
  z-index: 0;

  canvas {
    background-color: transparent;
  }
}

.site-nav {
  margin-top: clamp(8%,  .25rem + 1vw, 10rem);
  grid-area: nav;
  display: flex;
  color: var(--important-text);
  align-self: center;
  font-size: clamp(1rem, 1vw + .25rem, 5rem);
  z-index: 1;

  .nav-separator {
    display: inline;
    background:
      color-mix(in srgb, var(--important-text) 75%, transparent 30%);
    align-self: center;
    width: clamp(.75rem, calc(var(--spacing) * 3) + 1vw, 5rem);
    height: 2px;
    border-radius: 20px;
  }

  a {
    margin: .5em;
    font-family: var(--code-font);
    text-decoration: none;
    color: inherit;
  }
}

@keyframes glow {
  0% {
  text-shadow:
    0 0 0.5em rgb(from var(--header-color) r g b / 0.1),
    0 0 0.2em rgb(from var(--header-color) r g b / 0.2);

  } 100% {
  text-shadow:
    0 0 0.5em rgb(from var(--header-color) r g b / 0.2),
    0 0 0.2em rgb(from var(--header-color) r g b / 0.3);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --blend-mode: difference;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --blend-mode: color;
  }
}
