.post-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  gap: 10px;
}

.card.post {
  position: relative;
  font-size: clamp(0.5rem, 1rem, 1.5rem);
  width: 100%;
  height: 4rem;
  padding: 1.1rem;
  transition: scale 150ms ease-in-out;

  h3 {
    text-decoration: none;
    margin: 0;
    text-wrap: balance;
    font-size: 0.9rem;
    mix-blend-mode: plus-lighter;

    a {
      text-decoration: none;
    }
  }

  .date-published {
    font-style: oblique;
    font-size: 0.75em;
  }

  .excerpt {
    font-size: 0.8rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }

  &:hover {
    height: fit-content;
    position: absolute;

    .excerpt {
      display: -webkit-box;
    }
  }
}
