.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 10px;
}

.card.post {
  font-size: clamp(0.5rem, 1rem, 1.5rem);
  width: 45%;
  height: fit-content;
  padding: 1.1rem;
  transition: scale 150ms ease-in-out;

  h3 {
    text-decoration: none;
    margin: 0;
    text-wrap: balance;
    font-size: 0.9rem;

    a {
      text-decoration: none;
    }
  }

  .date-published {
    font-style: oblique;
    font-size: 0.75em;
  }

  .excerpt {
    font-size: 0.8rem;
    display: none;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &:hover {
    scale: 1.1;

    .excerpt {
      display: -webkit-box;
      margin-top: auto;
    }

      @at-root (without: height) {
        height: 25vh;
    }
  }
}
