@use '../base/vars' as v;

.post-teasers {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  min-height: 0;
  align-items: center;
}

.post {
  &-group {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1em;
    justify-self: center;

    h2 {
      position: sticky;
      margin-right: auto;
      margin-top: 1rem;
    }

    > hr {
      height: 1px;
      width: 45%;
      color: white;
      background: white;
      font-size: 0;
    }
  }
}

.card.post {
  flex: 0 0 auto;
  cursor: pointer;
  flex-flow: column nowrap;
  padding: 0.7em;
  width: 100%;
  overflow: hidden;

  .unfocused-info {
    display: flex;
    width: 100%;
    align-items: center;

    .post-title {
      display: inline;
      margin-right: auto;
      text-transform: lowercase;
      font-size: 0.85rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    #date,
    #duration {
      padding-left: 1em;
      white-space: nowrap;
      display: inline;
      font-style: oblique;
      font-size: 0.75em;
    }
  }

  .excerpt {
    padding-top: 1em;
    font-size: 0.8rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
