---
layout: default
---
{%- if site.posts.size > 0 -%}
  <div class="site-posts">
    <h2>{{ page.title | downcase }}</h2>
    <ol class="post-list">
      {%- for post in site.posts -%}
      <li class="post-teaser">
        <a href="{{ post.url | relative_url }}">
          <h4>{{ post.title }}</h4>
        </a>
        <div class="post-info">

          <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = "%b %-d, %Y" -%}
            {{ post.date | date: date_format }}
          </time>
          <div class="ttr">
            {%- assign word_count = post.content | number_of_words -%}
            {%- if word_count > 0 -%}
              {%- include reading-time.html words=word_count -%}
            {%- endif -%}
          </div>

        </div>
      </li>
      {%- endfor -%}
    </ol>
  </div>
  {%- else -%}
  <div style="height: 100%; display: flex; justify-content: center; align-items: center; font-style: italic;">
    nothing here...
  </div>
  {%- endif -%}
<script>
</script>
