---
layout: default
---
<div aria-hidden="true" id="title-graphic"></div>
<div class="home-container">
  <header class="site-title">
    <span>VAH</span>
    <span>GON</span>
    <span>DEV</span>
  </header>
  <nav class="site-nav">
    <span aria-hidden="true" class="nav-separator"></span>
    <a href="{{ "/about" | relative_url }}">about</a>
    <span aria-hidden="true" class="nav-separator"></span>
    <a href="{{ "/posts" | relative_url }}">posts</a>
    <span aria-hidden="true" class="nav-separator"></span>
    <a href="{{ "/projects" | relative_url }}">projects</a>
    <span aria-hidden="true" class="nav-separator"></span>
  </nav>
</div>
<script src="{{ "/assets/js/dist/site.anim.js" | relative_url }}"></script>
