---
layout: default
---
<div class="home">

<div id="grid-greet">{{ content }}</div>

  {%- if site.posts.size > 0 -%}
  <div id="grid-posts">

    <div class="post-teasers">

        <div class="post-group">
          <h2>Recent Posts</h2>
          {%- for post in site.posts limit: 8 -%}
          <div class="card post">

            <div class="unfocused-info">
              <h3 class="post-title">
                <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
              </h3>

              {%- assign date_format = "%b %-d, %Y" -%}
              <time class="post-date" id="date">{{ post.date | date: date_format }}</time>
            </div>

            <div class="excerpt"><p>{{ post.excerpt | strip_html }}</p></div>

          </div>
          {%- unless forloop.last -%}
          <hr>
          {%- endunless -%}

          {%- endfor -%}
        </div>
      </div>

    </div>
    {%- endif -%}

    {%- if site.projects.size > 0 -%}
    {%- endif -%}

  <script>
    document.querySelectorAll(".card").forEach((card) => {
      const link = card.querySelector("a");
      link.addEventListener("click", (e) => e.stopPropagation());

      card.addEventListener("click", () => {
        if (!window.getSelection().toString()) {
          link.click();}
      });
    });
  </script>
</div>
