---
layout: default
---
<div class="home">

<div id="grid-greet">{{ content }}</div>

  {%- if site.posts.size > 0 -%}
  <div id="grid-posts">
    <h2>Posts</h2>
    <ul class="post-container">
      {%- for post in site.posts -%}
      <li class="post card">

        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>

        {%- assign date_format = "%b %-d, %Y" -%}
        <time class="date-published">{{ post.date | date: date_format }}</time>

        <div class="excerpt">
          <p>{{ post.excerpt | strip_html }}</p>
        </div>

      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}

  {%- if site.projects.size > 0 -%}
  <div id="grid-projects">
    <h2>Projects</h2>
    <ul>
      {%- for proj in site.projects -%}
      <li>
        <h3>
          <a href="{{proj.url | relative_url }}">
            {{ proj.title | escape }}
          </a>
        </h3>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
</div>
