@use '../base/vars' as v;

.grid [id="banner"] {
  display: grid;
  position: sticky;
  top: 0;
  grid-area: banner;
  margin-bottom: 3em;

  background: linear-gradient(0deg, transparent , var(--bg-color) );

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.nav-list {
  display: flex;
  flex: 0 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1em;
  justify-self: center;
  color: var(--important-text);

  text-decoration: none;
  list-style: none;
  font: 400 clamp(0.7rem, 1dvw, 1.5rem) v.$font-base !important;

  :not(:last-child) {
    padding-right: 3vw;
  }

  li > a {
    text-decoration: none;
    color: inherit;
  }
}

.head-divide {
  width: 100%;
  background-image:
  linear-gradient(to right, transparent, var(--important-text), transparent);
  content: '';
  height: 1px;
}
