.blog-post {
  display: flex;
  flex-flow: column nowrap;

  p {
    margin-bottom: 1rem;
  }

  h2 {
  }
}

.post-info {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: calc(var(--spacing) * 6);

  h1 {
    width: fit-content;
    margin-top: 3rem;
  }

  time {
    margin-top: calc(var(--spacing) * 2);
    align-content: center;
    position: relative;
    font-size: .8rem;
    color: var(--color-primary);
  }
}

// shiki code block
pre {
  margin-top: min(95%, 2rem);
  margin-bottom: min(95%, 2rem);
  padding: 1em;
  border: 1px solid light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
  border-radius: 8px;
  overflow-x: scroll;
}

code {
  font-size: clamp(.8rem, 1vw + .25rem, .9rem) !important;
  font-family: var(--code-font) !important;
  line-height: 1.5rem;
}

@media screen and (max-width: 657px) {
  .blog-post {
    margin: 0 2rem;
  }
}
