.site-icon {
  height: 10em;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.site-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-items: center; 
  order: 1;
  min-width: 0;
  position: sticky;
}

.sidebar-content {
  font: $font-base;
  overflow: hidden;
}
