.site-topbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.site-title {
  @include relative-font-size(1.5);
  font-family: $font-header;
  letter-spacing: 0.05em;
  text-decoration: none !important;
}
