.site-banner {
  width: 100vw;
  max-width: 100%;
  position: relative;
}

.topbar-container {
  margin-top: 3rem;
  display: block;
}

.topbar-content {
  display: flex;
  font-weight: 1000;
}

.site-title {
  font: 600 40px $font-alt-code;
  letter-spacing: 0.3em;
  
  &::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 37px;
    background-color: $color-ptext;
    translate: 0 15%;
    opacity: 95%;
    animation: 1.5s steps(1) infinite blinking;
  }
}

@keyframes blinking {
  0% { background-color: transparent }
  50% { background-color: $color-ptext; }
}

.podium {
  position: relative;
  width: 100%;
  max-width: 150rem;
  height: 10rem;
  overflow: hidden;
}

.highlight,
.highlight-blur {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  translate: -50% 50%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 7%, $color-ptext, rgba(0, 0, 0, 0.1) 93%);
  border-radius: 100%;
}

.cover {
  position: absolute;
  inset: 0.5rem;
  background: black;
  border-radius: 400%;
}

.highlight-blur {
  filter: blur(10px);
  animation: floatAround 10s infinite alternate;
}

@keyframes floatAround {
  0% {
    filter: blur(11px);
  }
  100% {
    filter: blur(9px);
  }
}
