@use '../theme/light_dark';

@use 'vars' as vars;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  padding-left: 20em;
  padding-right: 20em;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: vars.$font-base;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
  font-family: vars.$font-header;
  text-transform: uppercase;
}

.card {
  display: flex;
  background-color: var(--color-pd);
  border-radius: .5em;
}

.grid {
  display: grid;
  height: 100dvh;
  width: 100dvw;
  grid-template-columns: 0.9fr;
  grid-template-rows: auto 2fr auto;
  justify-content: center;
  grid-template-areas:
  "banner"
  "page"
  "footer";

  [id="page"] {
    grid-area: page;
    min-height: 0;
    min-width: 0;
  }

  [id="footer"] {
    grid-area: footer;
  }
}
