@charset "utf-8";

@use 'sass:map';

$font-base: 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace !default;
$font-header: 'Roboto Condenced', $font-base;
$font-code: 'Fira Code', 'Cascadia Code', 'Source Code Pro', monospace !default;

$breakpoints: (
  sm: 40rem,
  md: 48rem,
  lg: 64rem,
  xl: 80rem,
  xxl: 96rem
);
