@charset "utf-8";

$font-base: 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace !default;
$font-header: 'Roboto Condenced', $font-base;
$font-code: 'Fira Code', 'Cascadia Code', 'Source Code Pro', monospace !default;

@function lighten_color($color) {
  @return color.scale($color, $lightness: 30%);
}

@function darken_color($color) {
  @return color.scale($color, $lightness: -30%);
}
